.details {
  align-items: center;
  max-width: 500px;
  margin: 0px auto;
  margin-top: 200px;
}
.detailinfo {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.detailimage {
  text-align: center;
}
