h1 {
  font-family: $font-headings;
  font-size: 52px;
  margin-top: 150px;
}
h2 {
  font-family: $font-headings;
}
h3 {
  font-family: $font-headings;
  font-size: 30px;
}
h4 {
  font-family: $font-headings;
  font-size: 30px;
  width: 200px;
  align-items: center;
  margin: 20px auto;
}
p {
  font-family: "Roboto", sans-serif;
}

.regh1 {
  margin: 0px auto;
  text-align: center;
  margin-top: 150px;
}
.adminh1 {
  margin: 0px auto;
  text-align: center;
  margin-top: 150px;
}
